<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>gestionelibro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListLibriServlet</display-name>
    <servlet-name>ListLibriServlet</servlet-name>
    <servlet-class>it.gestionelibro.web.servlet.ListLibriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListLibriServlet</servlet-name>
    <url-pattern>/ListLibriServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteVisualizzaServlet</display-name>
    <servlet-name>ExecuteVisualizzaServlet</servlet-name>
    <servlet-class>it.gestionelibro.web.servlet.ExecuteVisualizzaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteVisualizzaServlet</servlet-name>
    <url-pattern>/ExecuteVisualizzaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrepareModificaServlet</display-name>
    <servlet-name>PrepareModificaServlet</servlet-name>
    <servlet-class>it.gestionelibro.web.servlet.PrepareModificaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrepareModificaServlet</servlet-name>
    <url-pattern>/PrepareModificaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteModificaServlet</display-name>
    <servlet-name>ExecuteModificaServlet</servlet-name>
    <servlet-class>it.gestionelibro.web.servlet.ExecuteModificaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteModificaServlet</servlet-name>
    <url-pattern>/ExecuteModificaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrepareDeleteServlet</display-name>
    <servlet-name>PrepareDeleteServlet</servlet-name>
    <servlet-class>it.gestionelibro.web.servlet.PrepareDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrepareDeleteServlet</servlet-name>
    <url-pattern>/PrepareDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteDeleteServlet</display-name>
    <servlet-name>ExecuteDeleteServlet</servlet-name>
    <servlet-class>it.gestionelibro.web.servlet.ExecuteDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteDeleteServlet</servlet-name>
    <url-pattern>/ExecuteDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>